body {
  background: linear-gradient(-90deg, #A0DAA9, #6bd67b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container-main-image {
  position: relative;
  text-align: center;
  color: white;
  margin-top: auto;
}

.container-main-image img {
  width: 100%;
}

.wp-caption {
  position: relative;
  padding: 0;
  margin: 0;
}

.wp-caption img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  display: block;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 1em;
  font-weight: 700;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media(min-width: 500px) {
  .hero-centered {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -80%);
  }

  .wp-caption:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
  }
}

@media(max-width: 500px) {
  .hero-centered {
    color: black;
  }
}

.hero-centered p {
  font-weight: 600;
}

.header {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

.footer {
  width: 100%;
}

.footer-icon {
  color: white;
  margin-left: 20px;
}

.map-responsive {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: -150px;
  height: 450px;
  transform: translate(0, -240px);
}

@media(max-width: 500px) {
  .map-responsive {
    transform: translate(0, 0);
    margin-bottom: 10px;
    height: 240px;
  }
}

.map-responsive iframe {
  width: 100%;
  height: 100%;
}

.bg-black {
  background-color: black;
}

.shadow-lg {
  box-shadow: 0 10px 30px gray !important;
}

.crop-height {
  max-height: 550px;
  overflow: hidden;
  transform: translate(0, -10%);
}

.crop-height img {
  display: block;
  max-width: 100%;
  height: auto !important;
  width: auto\9;
  -ms-interpolation-mode: bicubic;
}